---

- name: APT | Install nginx
  apt: pkg={{ nginx_apt_package }} state=latest update_cache=yes cache_valid_time=3600

- name: TEMPLATE | Deploy nginx.conf
  template: src=etc/nginx/nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify: restart nginx

- name: FILE | Create root folders (foreach websites)
  file: path={{ nginx_root }}/{{ item.name }} state=directory recurse=yes owner=www-data group=www-data mode=0755
  file: path={{ nginx_root }}/{{ item.name }}/public state=directory recurse=yes owner=www-data group=www-data mode=0755
  with_items: websites

- name: TEMPLATE | Create vhosts
  template: src=etc/nginx/sites-available/{{ item.vhost }}.j2 dest=/etc/nginx/sites-available/{{ item.name }}
  with_items: websites
  notify: reload nginx

- name: COMMAND | Get sites available
  command: ls -1 /etc/nginx/sites-available
  register: old_vhosts
  changed_when: false
  ignore_errors: true

- name: Delete unmanaged vhosts
  file: path=/etc/nginx/sites-enabled/{{ item }} state=absent
  file: path=/etc/nginx/sites-available/{{ item }} state=absent
  with_items: old_vhosts.stdout_lines
  when: item not in websites|map(attribute='name') and item != 'default'

- name: FILE | Enable vhosts (symlink to sites-enabled)
  file: src=etc/nginx/sites-available/{{ item.name }} dest=/etc/nginx/sites-enabled/{{ item.name }} state=link
  with_items: websites
  notify: reload nginx

# TODO deploy defaults files (index.html/index.php) allready copied in files/

- name: FILE | Create /etc/nginx/helpers
  file: dest=/etc/nginx/helpers owner=root mode=0755 state=directory

- name: Use PHP configuration (UNIX)
  include: php_fpm_unix.yml
  when: php_fpm_socket is defined and php_fpm_socket == 'unix'

- name: Use PHP configuration (TCP)
  include: php_fpm_tcp.yml
  when: php_fpm_socket is defined and php_fpm_socket == 'tcp'

