---

- name: SET_FACT | Set init.d script name
  set_fact: mongodb_init_name='mongod'

- name: APT_KEY | Get MongoDB GPG Key
  apt_key: keyserver=keyserver.ubuntu.com id=7F0CEB10

- name: APT_REPOSITORY | Add official repository
  apt_repository: repo='deb http://downloads-distro.mongodb.org/repo/debian-sysvinit dist 10gen' state=present

- name: APT | Install MongoDB
  apt: pkg=mongodb-org state=latest update_cache=yes cache_valid_time=3600
  notify: restart mongodb

