#
# {{ ansible_managed }}
#

server {
	listen {{ item.listen | default('80') }};
	server_name {{ item.server_name | join(' ')}};
	root {{ nginx_root}}/{{ item.name }}/public;

{% if item.use_php %}
	index index.htm index.html index.php;

	location / {
		try_files $uri $uri/ /index.php;
	}

	include /etc/nginx/helpers/php;
{% else %}
	index index.htm index.html index.php;

	location / {
		try_files $uri $uri/;
	}
{% endif %}

{% if item.use_access_log %}
	access_log {{ nginx_log_dir }}/{{ item.name }}_access.log combined;
{% else %}
	access_log off;
{% endif %}
{% if item.use_error_log %}
	error_log {{ nginx_log_dir }}/{{ item.name }}_error.log combined;
{% else %}
	error_log off;
{% endif %}

{% if item.use_pagespeed %}
	include /etc/nginx/helpers/pagespeed;
{% endif %}
}

{% if item.redirect.server_name is defined %}
{% for redirect_server_name in item.redirect.server_name %} 
server {
	server_name  {{ redirect_server_name }};
	return	   301 http://{{ item.server_name[0] }}$request_uri;
}
{% endfor %}
{% endif %}



# vim:filetype=nginx
