#
# {{ ansible_managed }}
#

$Conf{BackupFilesOnly} = {
  '*' => [
{% for item in backuppc_host_backup_dir %}
    '{{ item }}',
{% endfor %}
  ]
};
$Conf{XferMethod} = 'rsync';
$Conf{ClientCharsetLegacy} = 'utf-8';
$Conf{BackupFilesExclude} = {};

