---

- name: APT | Install few MySQL related tools
  apt: pkg={{ item }} state=latest
  with_items:
    - mytop
    - percona-toolkit
    - python-mysqldb

- name: STAT | Check if mysql exists
  stat: path=/etc/init.d/mysql
  register: mysql_exists
  changed_when: false

- name: INCLUDE | Install MySQL (Oracle)
  include: 'mysql.yml'
  when: mysql_server == 'mysql'

- name: INCLUDE | Install MariaDB
  include: 'mariadb.yml'
  when: mysql_server == 'mariadb'

- name: INCLUDE | Install Percona Server
  include: 'percona.yml'
  when: mysql_server == 'percona'

- name: TEMPLATE | Deploy daemon configuration
  template: src=etc/mysql/conf.d/98-config.cnf.j2 dest=/etc/mysql/conf.d/98-config.cnf.j2
  notify: restart mysql

- name: TEMPLATE Create .my.cnf for root
  template: src=root/my.cnf dest=/root/.my.cnf owner=root group=root mode=0660 backup=yes

- name: INCLUDE | Secure install 
  include: 'secure.yml'

