---

  - name: MariaDB server
    include: mariadb.yml
    when: mysql_package == 'mariadb'

  - name: APT | Install MySQL server
    apt: update_cache=yes cache_valid_time=3600 pkg=mysql-server state=latest
    when: mysql_package == 'mysql'

# Bug: percona-toolkit not in squeeze
  - name: APT | Install few MySQL related tools
    apt: pkg={{ item }} state=latest
    with_items: 
      - mytop
      - percona-toolkit
    
