; --------------------------------------                                                                                                                                                      
; {{ ansible_managed }}
; --------------------------------------

; configuration for php xdebug module
; priority=20
extension=xdebug.so

xdebug.default_enable={{ xdebug_default_enable }}
xdebug.remote_enable={{ xdebug_remote_enable }}
xdebug.profiler_enable={{ xdebug_profiler_enable }}
