mongodb_source: 'official'

mongodb_conf:
  dbpath: '/var/lib/mongodb'
  logpath: '/var/log/mongodb/mongodb.log'
  logappend: 'true'
  bind_ip: '0.0.0.0'
  port: 27017
  journal: 'true'
  auth: 'true'

mongodb_users:
  - name: 'foo'
    database: 'admin'
    password: 'bar'
    role: 'userAdminAnyDatabase'
  - name: 'gun'
    database: 'admin'
    password: 'ter'
    role: 'readWriteAnyDatabase'

mongodb_ansible_password: 'change_me_NOW'
