server {
	listen 80;
	server_name {{ backuppc_server_name }};
	return 301 https://{{ backuppc_server_name }};
}

server {
	listen 443;
	server_name {{ backuppc_server_name }}; 
	access_log /var/log/nginx/{{ backuppc_server_name }}.access_log;
	error_log	/var/log/nginx/{{ backuppc_server_name }}.error_log;
	log_not_found off;

	root /usr/share/backuppc/cgi-bin;

	ssl on;
	ssl_certificate /etc/nginx/ssl/{{ backuppc_server_name }}.crt;
	ssl_certificate_key  /etc/nginx/ssl/{{ backuppc_server_name }}.key;

	index index.cgi;

	location /backuppc/image {
		alias /usr/share/backuppc/image;
		expires 60d;
	}

	location /share {
		alias /var/www/backuppc;
		autoindex on;
		auth_basic off;
	}

	location ~ \.cgi$ {
		gzip off;
		include /etc/nginx/fastcgi_params;
		fastcgi_pass unix:/var/run/fcgiwrap.socket;
		fastcgi_index BackupPC_Admin;
		fastcgi_param SCRIPT_FILENAME /usr/share/backuppc/cgi-bin$fastcgi_script_name;

		auth_basic "BackupPC admin";
		auth_basic_user_file /etc/backuppc/htpasswd;
	}
}


