#
# {{ ansible_managed }}
#

smtpd_banner = $myhostname ESMTP $mail_name
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${queue_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${queue_directory}/smtp_scache

myhostname = {{ hostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
#myorigin = /etc/mailname
mydestination = localhost, {{ mta_domain }}, {{ hostname }}
mynetworks = 127.0.0.0/8{% if postfix_mynetworks %}, {{ postfix_mynetworks|join(', ') }}{% endif %}

mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all 
readme_directory = /usr/share/doc/postfix
html_directory = /usr/share/doc/postfix/html

# DKIM
milter_default_action = accept
milter_protocol = 6
smtpd_milters = {{ postfix_smtpd_milters }}
non_smtpd_milters = {{ postfix_smtpd_milters }}

# Config des routes par domaine
#sender_dependent_default_transport_maps = regexp:/etc/postfix/sdd_transport_maps.regexp

# Autre tuning, voir http://postfix.traduc.org/index.php/TUNING_README.html
smtpd_error_sleep_time = 0
# default 30s
smtp_connect_timeout = 10s
# default 30s
smtp_helo_timeout = 10s

# Queue deferred
# default 1000s
queue_run_delay = 300s
# default 1000s
minimal_backoff_time = 300s
# default 4000s
maximal_backoff_time = 3000s
# default 5d
maximal_queue_lifetime = 3d
# default 5d
bounce_queue_lifetime = 3d
# default 20000
qmgr_message_recipient_limit = 64000

smtp_destination_concurrency_limit=2

notify_classes = resource, software, bounce
bounce_notice_recipient = bounce
error_notice_recipient = bounce

# VRFY enabled by default!!!
disable_vrfy_command = yes

