---

- name: HOSTNAME
  hostname: name={{ hostname }}
  notify: restart rsyslog

- name: TEMPLATE | Cleanup /etc/hosts
  template: src=etc/hosts.j2 dest=/etc/hosts
  notify: restart rsyslog

- name: COPY | Configure APT no extra packages
  copy: src=etc/apt/apt.conf.d/90noextrapackages dest=/etc/apt/apt.conf.d/90noextrapackages

- name: TEMPLATE | Force Debian version on APT
  template: src=etc/apt/apt.conf.d/71default-release.j2 dest=/etc/apt/apt.conf.d/71default-release

# We MUST update cache... Ansible auto install python-apt
- name: APT | Update
  apt: update_cache=yes cache_valid_time=3600

- name: FILE | Delete default repository (sources.list)
  file: path=/etc/apt/sources.list state=absent

- name: APT | Add Debian repository
  apt_repository: repo='deb http://{{ apt_default_host }}/debian {{ ansible_distribution_release }} main contrib non-free' state=present

- name: APT | Add Debian repository (src)
  apt_repository: repo='deb-src http://{{ apt_default_host }}/debian {{ ansible_distribution_release }} main contrib non-free' state=present

- name: APT | Add Debian-updates repository
  apt_repository: repo='deb http://{{ apt_default_host }}/debian {{ ansible_distribution_release }}-updates main contrib non-free' state=present

- name: APT | Add Debian-updates repository (src)
  apt_repository: repo='deb-src http://{{ apt_default_host }}/debian {{ ansible_distribution_release }}-updates main contrib non-free' state=present

# POTENTIAL BUG: syntax is different between debian releases (check: http://backports.debian.org/Instructions/)
- name: APT | Add Backports repository
  apt_repository: repo='deb http://{{ debian_backport_host }}/debian {{ ansible_distribution_release }}-backports main' state=present

- name: APT | Install few packages
  apt: pkg={{ item }} state=latest update_cache=yes cache_valid_time=3600
  with_items: minimal_packages

# Note: explicit Debian version (wheezy-backports)
- name: APT | Install Intel Microcode if needed
  apt: pkg=intel-microcode state=latest default_release=wheezy-backports
  when: ansible_processor[0].find('Intel') != -1 and ansible_architecture == 'x86_64'

- name: APT | Install AMD Microcode if needed
  apt: pkg=amd64-microcode  state=latest default_release=wheezy-backports
  when: ansible_processor[0].find('AMD') != -1 and ansible_architecture == 'x86_64'

- name: FILE | Delete shitty Puppet repository
  file: path=/etc/apt/sources.list.d/puppetlabs.list state=absent

- name: APT | Uninstall shitty Puppet
  apt: pkg=puppet state=absent update_cache=yes cache_valid_time=3600

- name: TEMPLATE | Deploy OpenNTPd configuration file
  template: src=etc/openntpd/ntpd.conf.j2 dest=/etc/openntpd/ntpd.conf
  notify: restart openntpd

- name: COPY | bashrc for root
  copy: src=bashrc dest=/root/.bashrc

- name: COPY | vimrc for root
  copy: src=vimrc dest=/root/.vimrc

- name: UPDATE-ALTERNATIVE | Vim is my main editor
  alternatives: name=editor path=/usr/bin/vim.basic

- name: UPDATE-ALTERNATIVE | Gawk (GNU awk) is the best
  alternatives: name=awk path=/usr/bin/gawk

- name: LOCALE | Add
  locale_gen: name={{ item }} state=present
  with_items: system_locales

- name: TEMPLATE | Deploy default locale
  template: src=etc/default/locale.j2 dest=/etc/default/locale

- name: COPY | Set default timezone
  copy: content={{ system_timezone }} dest=/etc/timezone owner=root group=root mode=0644
  notify: [update timezone, restart cron]

- name: SYSCTL | Tuning
  sysctl: name={{ item.key }} value='{{ item.value }}' state=present
  with_items: sysctl_config

- name: Deploy SSH key for user root
  authorized_key: user=root key='{{ item }}'
  with_file:
    - public_keys/teemo.pub

